<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Chirper</title>
  <link rel="icon" type="image/png" href="images/logo.jpg"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/profile.css">
</head>

<body>

<div class="profile-contain">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <img class="profile-pic" src="../images/profilepic.png">
      <h1 class="username-display"><%=user.username%> </h1>
      <% if(user.bio.description.length > 0){ %>
        <h4 class="bio"> <%=user.username%>'s bio: </h4>
        <h5> <%=user.bio.description%> </h5>
      <%}%>
      <% if(user.bio.location.length > 0){ %>
        <h4 class="bio"> <%=user.username%> is from: </h4>
        <h5> <%=user.bio.location%> </h5>
      <%}%>
      <div class=edit-btn-div>
        <button class="btn btn-md btn-outline-dark edit-btn" onClick="document.getElementById('popup').style.display='inline'">Edit Profile</button>
      </div>
      <a form="button" class="btn btn-md btn-outline-dark return-btn" href="/social">Go Back</a>
    </div>
    <div class="col-lg-8 col-md-12">
      <% if(currentUser) {%>
        <div class="post new-post">
          <h2> Make a new post below! </h2>
          <form class="post-form" action="/profile" method="POST">
            <textarea name="postContent" cols="70" rows="4"></textarea>
            <button type="submit" class="btn btn-lg btn-outline-dark post-btn">Post</button>
          </form>
        </div>
      <%}%>
      <% user.posts.forEach(function(post){ %>
        <div class="post">
          <h3><%=post.content%></h3>
          <hr>
          <h5>Posted: <%=post.posted%><h5>
        </div>
      <%})%>
    </div>
  </div>
</div>

<div class="popup-window" id="popup">
  <div class="edit-info">
    <form action="/profile/bio" method="POST">
      <label>Edit Description
        <textarea id="edit-description" name="description" cols="50" rows="4"><%=user.bio.description%></textarea>
      </label>
      <label>Edit Location
        <textarea id="edit-location" name="location" cols="50" rows="4"><%=user.bio.location%></textarea>
      </label>
      <button type="submit" class="btn btn-md btn-outline-dark save-bio-btn">Save</button>
    </form>
    <button class="btn btn-md btn-outline-dark close-btn" onClick="document.getElementById('popup').style.display='none'">Close</button>
  </div>
</div>

<!-- <div class="login-div">
  <form class="login-form">
    <img src="images/logo.jpg" class="logo">
    <h1>Chirper</h1>
    <a role="button" class="btn btn-lg btn-outline-primary col-5" href="/login">Login</a>
    <a role="button" class="btn btn-lg btn-outline-primary col-5" href="/register">Register</a>
  </form>
</div> -->

<%- include("footer") -%>
